PORT=3000
HMAC_SECRET=change-this-secret
JWT_SECRET=change-this-jwt-secret
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_pt_gibran
DB_USER=root
DB_PASSWORD=rootpassword

# Upload Storage Driver ('local' | 'cloud')
UPLOAD_DRIVER=local

# ImageKit CDN Credentials
IMAGEKIT_PUBLIC_KEY="public_NP7OnlwkcrSQ5FmUtry/Mjkf7ew="
IMAGEKIT_PRIVATE_KEY="private_2iVbxpYu4d42bbEksOi404S0Dbs="
IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/noorahbeauty"
